---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Us"
  description="Information about our Team"
  pubDate={new Date("July 28 23")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Hey, welcome to the about page. I am Stetsed, current administrator of
    AS-SELFHOSTABLE, I am a Computer Science Student from the Netherlands at
    time of writing. I created AS-SELFHOSTABLE due to my interest in BGP and
    other networking technology and wanted to create a collection AS-SET which
    would later allow me to add more ASN's if I where to obtain them or
    collaborate with other similar minded people.
  </p>
  <p>
    I have extensive experience in maintaining network systems and bare metal
    hardware as I have been selfhosting and maintaing my own servers for well
    over 5 years. I have experience in basically every part of maintaining a
    system for production use, this includes automation, containerization,
    operating bare metal hardware and working with virtualization platforms.
    This includes running a multiple of public services for other users which
    had a semi-signifcant user base however which where shutdown after migrating
    the users over to another service provider.
  </p>
  <p>
    The experience I have mostly lies within administrating and maintaining
    systems, however I do also have some coding experience which mostly envelops
    bash automation scripting to make tasks easier. I also have relativley good
    experience with Rust and Python, and also have experience with web-dev
    mostly surrouding the Svelte Javascript framework in combination with
    Sveltekit and Astro, with Tailwind as my CSS framework.
  </p>
  <p>
    I tradditionaly prefer a homelab setting to allow for more control of
    hardware and as such my main server is currently located at my home adress.
    However this may change in the future due to better connectivety of most
    colocation locations.
  </p>
</Layout>
