---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Us"
  description="Information about our Team"
  pubDate={new Date("July 28 23")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Welcome to the About page. I am Stetsed, the current administrator of
    AS-SELFHOSTABLE. As a Computer Science Student from the Netherlands, I
    founded AS-SELFHOSTABLE out of a deep interest in BGP and other networking
    technologies. The primary purpose was to create a comprehensive collection
    of ASN's, with the flexibility to incorporate additional ASNs either through
    acquisition or collaboration with like-minded individuals.
  </p>

  <p>
    Over the past five years, I have gained extensive experience in managing
    network systems and bare metal hardware, having self-hosted and maintained
    my own servers. My expertise spans all facets of system maintenance for
    production use, encompassing automation, containerization, operating bare
    metal hardware, and working with virtualization platforms. During this time,
    I managed multiple public services that catered to a semi-significant user
    base. However, these services were later migrated to another provider,
    prompting the shutdown of the previously hosted services.
  </p>
  <p>
    While my primary focus lies in system administration and maintenance, I also
    possess coding experience, particularly in creating bash automation scripts
    to streamline tasks. Moreover, I am well-versed in languages like Rust and
    Python, with a strong understanding of web development, particularly
    revolving around the Svelte Javascript framework, complemented by Sveltekit
    and Astro, while using Tailwind as my CSS framework.
  </p>
  <p>
    As a firm believer in the benefits of a homelab setting, I currently
    maintain my primary server at my home address, allowing for greater control
    over hardware. However, I remain open to the possibility of relocating to
    colocation facilities in the future, should they offer improved connectivity
    and advantages in managing the infrastructure.
  </p>
  <p>
    Thank you for visiting AS-SELFHOSTABLE, and I hope you find our network
    technologies and services both innovative and compelling. If you have any
    inquiries or wish to collaborate, please feel free to reach out to me.
  </p>
</Layout>
