---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS197532</title>
    <style>
        body {
            justify-content: center;
            align-items: center;
            margin: 10vh;
        }

        * {
            text-align: center;
        }
        p {
            word-wrap: break-word;
            text-align: center; 
        }
    </style>
</head>
<body>
    <h1>AS197532</h1>
    <p>AS197532 is a small network operated by Quinn Hooft, it is a personal/educational network and is used to learn about BGP and networking and to provide services to friends and family, and to promote the use of IPv6 inside of the Internet to improve adoption.</p>
    <h2>Contact</h2>
    <p>For any queries, please contact <a href="mailto:noc@as.selfhostable.net">noc@as.selfhostable.net</a>, incase you wish to peer you can contact <a href="mailto:peering@as.selfhostable.net">peering@as.selfhostable.net</a>, we maintain an open peering policy unless there is suspicion of abuse or malicious intent.</p>
    <h2>Information</h2>
    <p>You can find a geofeed for AS197532 <a href="https://selfhostable.net/geofeed.csv">here</a>, as of time of writing we are present on FogIXP and AccurIX for peering, we do not peer over tunnels, for more maintained info check <a href="https://www.peeringdb.com/net/33728">PeeringDB</a> and <a href="https://bgp.tools/as/197532">bgp.tools</a> for a source of truth surrounding our network.</p>
</body>
</html>

